body {
  width: 40%;
  margin: 3rem auto 3rem auto;
  background-color: #efefef;
}

p, li {
  font-size: 1.3rem;
  text-align: justify;
}

img,
table {
  width: 100%;
}

td {
  border: 1px solid black;
  padding: .5em 1em;
}

table {
  border-collapse: collapse;
}

thead td {
  font-weight: 800;
}

