h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', 'Roboto', 'sans-serif';
  color: grey;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}


/* JUMBOTRON */

.jumbotron {
  font-size: 2em;
  background-image: url("./../img/jumbotron.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  text-align: left
}

.jumbotron h1 {
  padding: 30vh 0 0 1em;
  letter-spacing: .3em;
  text-transform: uppercase;
  text-align: left;
  text-indent: .3em;
  opacity: 0;
  font-family: 'Amatic SC';
  font-size: 3em;
  font-weight: 800;

  animation-duration: 2s;
  animation-name: slidein-h1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.jumbotron p {
  font-family: 'Amatic SC';
  font-size: 1.5em;

  animation-duration: 1s;
  animation-name: slidein-p;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
  padding-left: 2.75em;
}
@media only screen and (max-width: 768px) {
  .jumbotron {
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 2em;
    text-align: center;
    text-indent: 0;
    padding: 30vh 0 0 0;
  }
  .jumbotron p {
    text-align: center;
    padding-left: 0; 
  }
}


/* SEASONS CONTAINER */

#seasons {
  width: 100%;
}

/* SEASON STYLING */

.under-season {
  width: 25%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  float: left;
  border: none;
  transition: width .15s;
  transition-timing-function: ease-in-out;
}
@media only screen and (max-width: 768px) {
  .under-season {
    height: 25vh;
    width: 100% !important;
    display: block;
  }
  .under-season .form {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 95%;
    margin: 1em;
    height: 95vh !important;
    z-index: 999;
  }
  .exit-button {
    visibility: hidden;
  }
  #reservation .form {
    width: 100% !important;
  }
}
.under-season .form {
  visibility: hidden;
  transition: visibility 0s;
  transition-delay: 0.15s;
  transition-timing-function: ease-in-out;
}

.wine-button {
  pointer-events: initial;
}
.under-season div:hover {
  transition-delay: 0s;
}
#spring {
  background-image: url('../img/spring.jpg');
}
#summer {
  background-image: url('../img/summer.jpg');
}
#fall {
  background-image: url('../img/fall.jpg');
}
#winter {
  background-image: url('../img/winter.jpg');
}
.under-season>.form {
  border: 1em solid rgb(190, 211, 1);
  box-sizing: border-box;
  overflow: hidden;
  height: 80%;
}
.exit-button {
  float: right;
  padding: 1em;
  font-size: 2em;
  font-weight: 800;
  cursor: pointer;
  color:#333;
}
.exit-button:hover {
  cursor: pointer;
}
.menu-item {
  font-size: 2em;
  padding: 0.5em 1em;
}
.menu-title {
  font-size: 3em;
  padding: calc((1em/3)*2);
}
.menu-price {
  float: right;
  padding: 1em;
  padding-bottom: 2em; 
  font-size: 1.5em;
}
.form>.menu-item, .form>.menu-price {
  color: grey;
}

/* WINE MENU */

.wine-menu {
  height: 90%;
  background-color: grey;
  margin-top: 2em;
  color: white;
  border: 5px solid white;
  box-sizing: border-box;
}
.wine-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 1em;
  left: 40%;
  position: absolute;
  border-radius: 20px 20px 0px 0px;
  outline: none;
}
.form>.menu-price {
  position: initial;
  padding-bottom: 55%;
}

/* CONTACT */

#reservations {
    width: 100%;
    background-attachment: fixed;
    background-image: url("./../img/table.jpg");
    background-size: cover;
    background-position: center;
    font-size: 2em;
}

.form {
    background-color: white;
    width: 50%;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 5%;
    position: absolute;
    color: black;
}

#innerForm h2 {
    color: black;
    font-weight: 200;
    font-size: 1.8em;
    border-top: 10px solid black;
    border-bottom: 2px solid black;
    padding: .2em 0 .3em 0;
}

#innerForm {
    height: 80vh;
    box-sizing: border-box;
    padding: 10vh 10%;
    font-family: 'Playfair Display', serif;
}

#innerForm input {
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid #999;
    font-family: 'Playfair Display', serif;
    outline: none;
    text-transform: capitalize;
    padding: 1em;
    width: 100%;
}

#innerForm input::placeholder {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}

#innerForm span {
    font-size: 20px;
    margin: 3vh 0;
    display: block;
    color: crimson;
}

#innerForm .form-group:not(:last-of-type) {
  margin-top: .5em;
}

#innerForm .form-group:first-of-type {
  margin-top: 5vh;
}

#innerForm .form-group:last-of-type {
  position: absolute;
  bottom: 10%;
  width: 80%;
}

#innerForm .form-group:last-of-type input[type="button"] {
  background: white;
  border-top: 3px solid #123123;
  border-bottom: 2px solid #123123;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 0.5em;
  letter-spacing: 2px;
}

#innerForm .form-group:last-of-type input[type="button"]:hover {
  background-color: black;
  border-color: white;
  color: white;
}

@media only screen and (max-width: 768px) {
  #reservations .form {
    width: 90%;
  }
}

/* MAP */

#map {
  height: 50vh;
  background-color: crimson;
}
.mapouter, .gmap_canvas, #gmap_canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: invert(100%);
}

/* FOOTER */

footer {
  padding: 2.5em 5%;
  font-size: 1.2em;
  color: white;
  background-color: #161616;
}

footer li {
  list-style-type: none;
}


/* HIDE SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
}


/* ANIMATIONS */
@keyframes slidein-h1 {
  from {
    padding-top: 25vh;
    opacity: 0;
  }

  to {
    padding-top: 30vh;
    opacity: 1;
  }
}

@keyframes slidein-p {
  from {
    padding-top: 5vh;
    opacity: 0;
  }

  to {
    padding-top: 0vh;
    opacity: 1;
  }
}


