body {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', 'Roboto', 'sans-serif';
    font-size: 2em;
    color: grey;
}

#jumbotron {
    background-image: url("img/jumbotron.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center
}

#jumbotron h1 {
    margin: 0;
    padding-top: 50vh;
    text-transform: uppercase;
    letter-spacing: 1em;
}

#seasons {
    height: 100vh;
    width: 100%;
    display: table;
}

.underSeason {
    min-width: 25%;
    min-height: 100vh;
    display: table-cell;
    padding: 0;
    margin: 0;
    border: none;
}

#spring {
    background-color: green;
}

#summer {
    background-color: blue;
}

#fall {
    background-color: orange;
}

#winter {
    background-color: grey;
}

#reservations {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-image: url("img/jumbotron.jpg");
    background-size: cover;
    background-position: center;
}

#form {
    background-color: white;
    width: 50%;
    height: 90vh;
    margin-left: 5%; 
    margin-top: 5vh; 
    position: absolute;
}

#innerform h2 {
    margin: 0;
    color: grey;
}

#innerForm {
    padding: 15% 15%; 
}

#innerForm input {
    border: 0;
    border-bottom: 1px solid grey;
    text-transform: capitalize;
    padding: 1em;
    width: 80%;
}
