* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poiret One', 'Roboto', 'sans-serif';
  color: grey;
}


/* JUMBOTRON */

.jumbotron {
  font-size: 2em;
  background-image: url("./../img/jumbotron.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center
}

.jumbotron h1 {
  padding-top: 45vh;
  padding: 45vh 0 .5em 0;
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  text-indent: 1em;
  opacity: 0;

  animation-duration: 2s;
  animation-name: slidein-h1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.jumbotron p {
  animation-duration: 1s;
  animation-name: slidein-p;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

/* SEASONS CONTAINER */

#seasons {
  width: 100%;
}

.under-season {
  float: left;
  border: none;
  transition: width .15s;
  transition-timing-function: ease-in-out;
}

/* SEASON STYLING */

#spring {
  background-color: green;
}

#summer {
  background-color: blue;
}

#fall {
  background-color: orange;
}

#winter {
  background-color: grey;
}

/* CONTACT */

#reservations {
  width: 100%;
  background-attachment: fixed;
  background-image: url("./../img/jumbotron.jpg");
  background-size: cover;
  background-position: center;
  font-size: 2em;
}

#form {
  background-color: white;
  width: 50%;
  height: 80vh;
  margin-left: 5%; 
  margin-top: 10vh; 
  position: absolute;
}

#innerform h2 {
  color: grey;
}

#innerForm {
  padding: 15% 15%; 
}

#innerForm input {
  border: 0;
  border-bottom: 1px solid grey;
  text-transform: capitalize;
  padding: 1em;
  width: 80%;
}

/* MAP */

#map {
  height: 30vh;
  background-color: crimson;
}

/* FOOTER */

footer {
  padding: 2.5em 5%;
  font-size: 1.2em;
  color: white;
  background-color: black;
}

footer li {
  list-style-type: none;
}

/* HIDE SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
}

/* ANIMATIONS */
@keyframes slidein-h1 {
  from {
    padding-top: 40vh;
    opacity: 0;
  }

  to {
    padding-top: 45vh;
    opacity: 1;
  }
}

@keyframes slidein-p {
  from {
    padding-top: 5vh;
    opacity: 0;
  }

  to {
    padding-top: 0vh;
    opacity: 1;
  }
}
